html {
  background-color: #121416;
  margin: 0px;
  padding: 0px;
  user-select: none;
  cursor: default;  
  overflow: auto;
  font-family: "Rubik", sans-serif;
}

nav {
  background-color: #222b35;
  color: #ffffff;
  margin: -8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  z-index: 1001;
}

nav p {
  padding: 5px 7px 5px 7px;
}

a {
  color: white;
}

nav button {
  background-color: #222b35;
  color: white;
  border: none;
  padding: 3px 7px 7px 7px;
}

nav button:hover{
  text-decoration: underline;
}

.nav-box {
  border-style: solid;
  border-width: 2px;
  border-color: #37495a;
}
.nav-box-right {
  margin-left: auto;
  display: flex;
}

main {
  background-color: blue;
}

footer {
  background-color: #343a40;
}

p {
  margin: 0px;
}

main {
  display: flex;
  background-color: rgb(0, 6, 19);
  height: calc(100vh - 18px - 20px);
  margin-top: 10px;
}

section {
  background-color: #2a3f52;
  flex-grow: 1;
  margin: 10px;
}

.clicking-section {
  background: linear-gradient(
  to bottom,
  #2a3f52 0%,
  #2a3f52 75%,
  rgb(35, 43, 51) 100%
);
  width: 100px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.game-section {
  width: 500px;
  margin: 5px;
}

.upgrade-section {
  width: 10px;
  margin: 5px;
}

.name-box {
  background-color: rgb(58, 74, 88);
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0px 50px 0px 50px;
  width: 350px;
}

.name-box-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.amount-box-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(58, 74, 88);
}

.potato-amount {
  font-size: 25px;
  padding: 0px;
  margin-top: -2px;
}

.potato-amount-persecond {
  font-size: 14px;
  padding: 0px;
  margin-bottom: -2px;
}

.clicker-button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
}

.clicker-image {
  width: 80%;
  height: 80%;
  rotate: -1deg;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.5));
}

.clicker-image:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease;
}

.clicker-image:active {
  transform: scale(1);
  transform: rotate(1deg);
  transition: transform 0.1s ease;
}

.clicker-container {
  margin-top: 60px;
  justify-content: center;
}

.version-text {
  color: rgba(255, 255, 255, 0.712);
  font-size: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

.version-box-container {
  margin-top: auto;
  padding-left: 10px;
}

.shine-container{
  position: absolute;
  top:18.3%;
  left:2%;
}

.potato-wrapper {
  position: relative;
  display: inline-block;
}

.shine,
.shine2 {
  position: absolute;
  top: clamp(15px, calc(160px - 10vw), 150px);
  left: 10%;
  width: 80%;
  opacity: 0.3;
  animation: spin 8s linear infinite;
  transform-origin: center;
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .shine, .shine2 {
    top: clamp(15px, calc(160px - 9.5vw), 150px);
  }
}

@media (min-width: 1300px) and (max-width: 1499px) {
  .shine, .shine2 {
    top: clamp(15px, calc(160px - 8.5vw), 150px);
  }
}

@media (min-width: 1500px) and (max-width: 1749px) {
  .shine, .shine2 {
    top: clamp(15px, calc(160px - 7vw), 150px);
  }
}

@media (min-width: 1750px) {
  .shine, .shine2 {
    top: clamp(15px, calc(160px - 9vw), 150px);
  }
}

.shine2 {
  opacity: 0.2;
  animation: spin-counter 8s linear infinite;
}


#potato-button {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  padding: 0;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes spin-counter {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

.middle-top {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 16px;
}

.left-middle-buttons, .right-middle-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.middle-buttons {
  font-size: 16px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #6c8196;
  color: #6c8196;
  padding: 7px 2px 7px 2px;
  cursor: pointer;
  margin: 10px 10px 0px 10px;
}

.middle-buttons-unused {
  font-size: 16px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #6c8196;
  color: #6c8196;
  padding: 7px 2px 7px 2px;
  cursor: pointer;
  margin: 10px 10px 0px 10px;
}

.middle-buttons:hover {
  background-color: #6c819615;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-color: rgb(255, 255, 255);
}

.comments {
  background: rgb(39, 55, 70);
  color: white;
  padding: 16px;
  border-radius: 0px 0px 10px 10px;
  
}

#comment {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.divider {
  height: 7px;
  background-color: #121416;
  margin: 10px 0;
}

.divider-bs {
  height: 7px;
  background-color: #121416;
  margin: 10px 0 0 0;
}

.store-title {
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white; 
}

.upgrades-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.buy-sell-selector {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 16px;
  background-color: black;
  padding-bottom: 10px;
}

.buy-sell-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.buy-sell-button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: #6c8196;
  padding: 7px 2px 7px 2px;
  cursor: pointer;
  width: 40px;
  margin: 0px 10px -5px 10px;
  text-align: center;
}

.selected, .buy-sell-button:hover {
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.multiplier-container {
  display: flex;
  justify-content: center;
  margin-top: 5px
}

.multiplier {
  padding: 0px 50px 0px 5px;
  color: rgba(255, 255, 255, 0.747);
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.multiplier:hover, .selected{
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 57%;
  left: 30%;
  right: 25.3%;
  bottom: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: #1f2635;
  border-radius: 5px;
  padding: 15px 25px;
  text-align: center;
  width: 1000px;
  height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-inner h2 {
  margin: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(58, 74, 88);
  padding-bottom: 15px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: rgb(143, 188, 255);
  font-weight: bold;
}

.info-h2 {
  color: white;
  font-size: 30px;
}

.major-update {
  border-top: 3px solid rgb(109, 121, 7);
  border-bottom: 3px solid rgb(109, 121, 7);
  margin-bottom: 15px
}

.major-h2 {
  color: rgb(229, 255, 0);
  text-align: left;
  font-size: 24px;
  padding-top: 5px
}

.major-p {
  color: rgb(228, 241, 191);
  text-align: left;
  font-size: 16px;
}

.major-ul {
  color: white;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.minor-update {
  border-top: 3px solid rgb(87, 87, 87);
  border-bottom: 3px solid rgb(87, 87, 87);
  margin-bottom: 15px
}

.minor-h2 {
  color: rgb(119, 119, 119);
  text-align: left;
  font-size: 24px;
  padding-top: 5px
}

.minor-p {
  color: rgb(184, 184, 184);
  text-align: left;
  font-size: 16px;
}

.minor-ul {
  color: rgb(212, 212, 212);
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.flashing {
  color: yellow;
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  70% {
    color: red;
  }
}

.red {
  color: red;
}

.general-stats {
  border-top: 3px solid rgba(255, 255, 255, 0.685);
  border-bottom: 3px solid rgba(255, 255, 255, 0.685);
  margin-bottom: 15px;
}

.general-text {
  color: rgb(128, 255, 244);
  text-align: left;
  font-size: 24px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.stats-ul {
  color: white;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.space {
  margin-bottom: 15px;
}

.trail {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  pointer-events: none;
  user-select: none;
  animation: floatUp 1s forwards;
}

.text {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  pointer-events: none;
  user-select: none;
  animation: floatUp 1s forwards;
  padding: 5px 10px;
  border: #121416 solid 3px;
  background-color: #1214168e;
}

@keyframes floatUp {
  0% { opacity: 1; transform: translate(0, 0); }
  100% { opacity: 0; transform: translate(0, -50px); }
}

.jump-image {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
  user-select: none;
}

.gold-potato {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: auto;
  z-index: 1000;
  filter: drop-shadow(0px 0px 10px rgb(238, 255, 0));
  animation: jiggle 10s infinite;
}

@keyframes jiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(30deg); }
  75% { transform: rotate(-10deg); } }

.gold-potato:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gold-potato.hidden {
  display: none;
}

.yellow-text {
  color: yellow;
  font-weight: bold;
}

.gold-text {
  color: gold;
  font-weight: bold;
  animation: glow 2s infinite;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 1px gold, 0 0 5ch gold, 0 0 5px gold;
  }
  50% {
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
  }
}

.purple-text {
  color: purple;
  font-weight: bold;
}

.building-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #37495a;
  border: #283642 solid 2px;
  color: white;
}

.building-area {
  display: flex;
  flex-direction: column;
}

.building-container:hover {
  align-items: center;
  width: 100%;
  background-color: #2d3c49;
  color: white;
}

#buildings {
  display: flex;
  flex-direction: column;
}

.building-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.building-amount {
  margin-left: auto;
}

.building-icon {
  margin-right: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.building-name-price {
  display: flex;
  align-items: flex;
  flex-direction: column;
}

.building-name {
  font-weight: bold;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

.building-price {
  margin-left: -25px;
  padding-top: 5px;
  color: rgb(209, 73, 73);
  font-weight: bold;
  font-size: 14px;
}

.amount-owned {
  font-size: 40px;
  padding-right: 10px;
}

.dropdown {
  position: relative;
  color:chocolate;
  font-weight: bold;
  padding: 10px;
  border: chocolate solid 2px;
  margin: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: chocolate;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  
}

.dropdown-content a {
  color:#1f2635;
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.options-p {
  color: white;
  text-align: center;
  padding-top: 20px
}

.dropdown-content a:hover {
  background-color: rgb(243, 125, 40);
}

.selected-version {
  background-color: rgb(255, 136, 0);
}

.spinning-globe-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.spinning-globe {
  margin: -1px 0px -4px 0px;
}

.potion {
  margin: -5px -8px -4px 3px;
}

.github-logo {
  margin: -5px -8px -4px 5px;
  filter: invert(1);
}

.bug-fixes {
  color:rgb(180, 184, 189);
  margin-left: -20px;
}

.darker-year {
  color:#b1b1b1;
}

.save-load-button, .wipe-button {
  position: relative;
  color:chocolate;
  font-weight: bold;
  padding: 10px;
  border: chocolate solid 2px;
  margin: 20px;
  background-color: #1f2635;
  font-weight: bold;
}

.save-load-button {
  color: rgb(37, 37, 197);
  border: rgb(37, 37, 197) solid 2px;
}

.save-load-button:hover {
  background-color: #263452;
}

.wipe-button {
  color: rgb(197, 37, 37);
  border: rgb(197, 37, 37) solid 2px;
}

.wipe-button:hover {
  background-color: #522626;
}