html {
  background-color: #121416;
  margin: 0px;
  padding: 0px;
  user-select: none;
  cursor: default;  
}

nav {
  background-color: #222b35;
  color: #ffffff;
  margin: -8px;
  font-size: 12px;
  display: flex;
  align-items: center;
  z-index: 1001;
}

nav p {
  padding: 5px 7px 5px 7px;
}

a {
  color: white;
}

.nav-box {
  border-style: solid;
  border-width: 2px;
  border-color: #37495a;
}
.nav-box-right {
  border-style: solid;
  border-width: 2px;
  border-color: #37495a;
  margin-left: auto;
}

main {
  background-color: blue;
}

footer {
  background-color: #343a40;
}

p {
  margin: 0px;
}

main {
  display: flex;
  background-color: rgb(0, 6, 19);
  height: calc(100vh - 18px - 20px);
  margin-top: 10px;
}

section {
  background-color: #2a3f52;
  flex-grow: 1;
  margin: 10px;
}

.clicking-section {
  background: linear-gradient(
  to bottom,
  #2a3f52 0%,
  #2a3f52 75%,
  rgb(35, 43, 51) 100%
);
  width: 100px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.game-section {
  width: 500px;
  margin: 5px;
}

.upgrade-section {
  width: 10px;
  margin: 5px;
}

.name-box {
  background-color: rgb(58, 74, 88);
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0px 50px 0px 50px;
  width: 350px;
}

.name-box-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.amount-box-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(58, 74, 88);
}

.potato-amount {
  font-size: 25px;
  padding: 0px;
  margin-top: -2px;
}

.potato-amount-persecond {
  font-size: 14px;
  padding: 0px;
  margin-bottom: -2px;
}

.clicker-button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
}

.clicker-image {
  width: 80%;
  height: 80%;
  rotate: -1deg;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.5));
}

.clicker-image:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease;
}

.clicker-image:active {
  transform: scale(1);
  transform: rotate(1deg);
  transition: transform 0.1s ease;
}

.clicker-container {
  margin-top: 60px;
  justify-content: center;
}

.version-text {
  color: rgba(255, 255, 255, 0.712);
  font-size: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
}

.version-box-container {
  margin-top: auto;
  padding-left: 10px;
}

.shine-container{
  position: absolute;
    top:18.3%;
    left:2%;
}

.potato-wrapper {
  position: relative;       /* make it the stacking context */
  display: inline-block;    /* shrink-wrap to potato size */
}

.potato-wrapper {
  position: relative;
  display: inline-block; /* shrink to potato size */
}

.shine,
.shine2 {
  position: absolute;
  top: 3%;                 /* distance from top of wrapper */
  left: 10%;                /* distance from left of wrapper */
  width: 80%;
  opacity: 0.3;
  animation: spin 8s linear infinite;
  transform-origin: center; /* rotate around its own center */
}

.shine2 {
  opacity: 0.2;
  animation: spin-counter 8s linear infinite;
}


#potato-button {
  position: relative;       /* stays on top */
  z-index: 2;
  background: none;         /* optional */
  border: none;
  padding: 0;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes spin-counter {
  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}

.middle-top {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 16px;
}

.left-middle-buttons, .right-middle-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.middle-buttons {
  font-size: 16px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #6c8196;
  color: #6c8196;
  padding: 7px 2px 7px 2px;
  cursor: pointer;
  margin: 10px 10px 0px 10px;
}

.middle-buttons-unused {
  font-size: 16px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #6c8196;
  color: #6c8196;
  padding: 7px 2px 7px 2px;
  cursor: pointer;
  margin: 10px 10px 0px 10px;
}

.middle-buttons:hover {
  background-color: #6c819615;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-color: rgb(255, 255, 255);
}

.comments {
  background: rgb(39, 55, 70);
  color: white;
  padding: 16px;
  border-radius: 0px 0px 10px 10px;
  
}

#comment {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.divider {
  height: 7px;
  background-color: #121416;
  margin: 10px 0;
}

.divider-bs {
  height: 7px;
  background-color: #121416;
  margin: 10px 0 0 0;
}

.store-title {
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white; 
}

.upgrades-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.buy-sell-selector {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 16px;
  background-color: black;
  padding-bottom: 10px;
}

.buy-sell-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.buy-sell-button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: #6c8196;
  padding: 7px 2px 7px 2px;
  cursor: pointer;
  width: 40px;
  margin: 0px 10px -5px 10px;
  text-align: center;
}

.selected, .buy-sell-button:hover {
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.multiplier-container {
  display: flex;
  justify-content: center;
  margin-top: 5px
}

.multiplier {
  padding: 0px 50px 0px 5px;
  color: rgba(255, 255, 255, 0.747);
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.multiplier:hover, .selected{
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 57%;
  left: 30%;
  right: 25.3%;
  bottom: 100%;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: #1f2635;
  border-radius: 5px;
  padding: 15px 25px;
  text-align: center;
  width: 1000px;
  height: 750px;
}

.modal-inner h2 {
  margin: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(58, 74, 88);
  padding-bottom: 15px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: rgb(143, 188, 255);
  font-weight: bold;
}

.info-h2 {
  color: white;
  font-size: 30px;
}

.major-update {
  border-top: 3px solid rgb(109, 121, 7);
  border-bottom: 3px solid rgb(109, 121, 7);
}

.major-h2 {
  color: rgb(229, 255, 0);
  text-align: left;
  font-size: 24px;
  padding-top: 5px
}

.major-p {
  color: rgb(228, 241, 191);
  text-align: left;
  font-size: 16px;
}

.major-ul {
  color: white;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.red {
  color: red;
}

.general-stats {
  border-top: 3px solid rgba(255, 255, 255, 0.685);
  border-bottom: 3px solid rgba(255, 255, 255, 0.685);
}

.general-text {
  color: rgb(128, 255, 244);
  text-align: left;
  font-size: 24px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.stats-ul {
  color: white;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

.space {
  margin-bottom: 15px;
}

.trail {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  pointer-events: none;
  user-select: none;
  animation: floatUp 1s forwards;
}

.text {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  pointer-events: none;
  user-select: none;
  animation: floatUp 1s forwards;
  padding: 5px 10px;
  border: #121416 solid 3px;
  background-color: #1214168e;
}

@keyframes floatUp {
  0% { opacity: 1; transform: translate(0, 0); }
  100% { opacity: 0; transform: translate(0, -50px); }
}

.jump-image {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
  user-select: none;
}

.gold-potato {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: auto;
  z-index: 1000;
  filter: drop-shadow(0px 0px 10px rgb(238, 255, 0));
  animation: jiggle 10s infinite;
}

@keyframes jiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(30deg); }
  75% { transform: rotate(-10deg); } }

.gold-potato:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gold-potato.hidden {
  display: none;
}

.yellow-text {
  color: yellow;
  font-weight: bold;
}

.gold-text {
  color: gold;
  font-weight: bold;
  animation: glow 2s infinite;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
  }
  50% {
    text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold;
  }
}

.purple-text {
  color: purple;
  font-weight: bold;
}